# .gitignore

# system
*.swp
*~

# ansible
*.retry
/vault-pass
/adfinis-roles/

# python
*.pyc
.python-version

# documentation
/doc/_build/

# vagrant
/.vagrant/

# Gitignore for encypted files
files/*
host_vars/*
