[defaults]
ansible_managed     = Warning: File is managed by Ansible [https://git.adfinis-sygroup.ch/ad-sy/ansible-plays.src]
retry_files_enabled = False
inventory           = ./hosts
roles_path          = ./adfinis-roles
vault_password_file = ~/.base4kids/vaultpassword

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s
pipelining = true
