<VirtualHost *:443> 
ServerName {{ nextcloud_site_fqdn | default(ansible_fqdn) }} 
ServerPath {{ nextcloud_install_dir }}/nextcloud/
Alias / "{{ nextcloud_install_dir }}/nextcloud/"

SSLEngine ON

SSLCertificateFile      {{ httpd_ssl_cert_path }}/{{ httpd_ssl_cert_name }} 
SSLCertificateKeyFile      {{ httpd_ssl_cert_path }}/{{ httpd_ssl_key_name }} 
# Mozilla's Recommendation 
SSLProtocol             all -SSLv2 -SSLv3
SSLCipherSuite          ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-AES128-SHA256:ECDHE-RSA-AES128-SHA256:ECDHE-ECDSA-AES128-SHA:ECDHE-RSA-AES256-SHA384:ECDHE-RSA-AES128-SHA:ECDHE-ECDSA-AES256-SHA384:ECDHE-ECDSA-AES256-SHA:ECDHE-RSA-AES256-SHA:DHE-RSA-AES128-SHA256:DHE-RSA-AES128-SHA:DHE-RSA-AES256-SHA256:DHE-RSA-AES256-SHA:ECDHE-ECDSA-DES-CBC3-SHA:ECDHE-RSA-DES-CBC3-SHA:EDH-RSA-DES-CBC3-SHA:AES128-GCM-SHA256:AES256-GCM-SHA384:AES128-SHA256:AES256-SHA256:AES128-SHA:AES256-SHA:DES-CBC3-SHA:!DSS
SSLHonorCipherOrder     on

 


<Directory {{ nextcloud_install_dir }}}/nextcloud/>
  Options +FollowSymlinks
  AllowOverride All

 <IfModule mod_dav.c>
  Dav off
 </IfModule>

 SetEnv HOME {{ nextcloud_install_dir }}/nextcloud
 SetEnv HTTP_HOME {{ nextcloud_install_dir }}/nextcloud

</Directory>
</VirtualHost>
